@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.main-container{
  background-color: #2F3038;
  color: white;
  width: 1450px;
  height: 1000px;
}
/* Le HEADER */
#logo{
  position: relative;
  top:15px;
  left:5%;
}
#photo-femme{
  position: relative;
  top:5px;
}
.nom-du-logo{
  font-family: 'Poppins', sans-serif;
  position: relative;
  left:10%;
  bottom: 25px;
}
.nav{
  display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 40px;
  position: relative;
  left:700px;
  bottom:20px;

}
.nav a{
  display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 40px;
  position: relative;
  left: 450px;
  bottom:40px ;
}
.under-title{
  font-size:xx-large;
  position: relative;
  left:65%;
  bottom:600px;

}
p{
position: relative;
left: 65%;
bottom: 600px;

}
#submit-btn{
  background-color:tomato ;
  color: white;
  font-size: medium;
  width:150px ;
  height:40px ;
  border-radius: 10px;
  position: relative;
  left: 67%;
  bottom: 600px;

}


/*BUUUUUULLLLLEEEEEE*/